/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


#logo {
	max-width: 110px;
}


@media only screen and (max-width: 375px) {
	#jd-sholat {
		display: none;
	}

	.font-weight-bold {
		/* font-weight: 500 !important; */
		font-size: 34px !important;
	}
}